.perent {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

body {
    background-color: cornsilk;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid;
    margin: 10px;
    width: 1000px;
    margin-right: 10px;
    border-color: white;
    background-color: white;



    transform: scale(1);
    transition: 1s;



}






img {
    width: 300px;
    border-radius: 10px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.text {
    padding: 20px;

}

.cards {
    padding-right: 10px;
    border-right: solid;
    border-right-width: thin;
    border-color: white;
}

.right {
    display: flex;
    justify-content: space-around;
    flex: 1;
    color: chocolate;
    background-color: brown;
    border-radius: 10px;
    border-top: ;
}

.man {
    color: green;
}